.landing {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.text-content {
  flex: 1;
  font-size: 3rem;
  font-weight: bold;
  height: 50rem;
  padding: 12rem 2rem;
}
.landing-img {
  width: 60rem;
  flex: 1;
  padding: 1rem;
  img {
    width: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 768px) {
  .landing {
    flex-direction: column;
    .landing-img {
      width: 100vw;
      padding: 0 2rem;
    }
  }
}
