.footer {
  color: var(--first-color);
  background-color: #eaebec;
}
.contact-us {
  padding: 1.5rem 0 2rem 0;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}
.contact-us h4 {
  padding-bottom: 1.5rem;
  font-size: 1.6rem;
}
.social-media-links a {
  padding: 1rem 2rem 0 0;
}

.social {
  width: 3rem;
  height: 3rem;
}
.social:hover {
  transform: scale(1.5);
  transition: 0.5s ease-in-out;
}

p {
  text-align: center;
  padding-bottom: 2rem;
  font-weight: 500;
}
